/*
TODO:
- pull jquery offline
- delete comments
- dark mode:  invert nav buttons too
- images
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Tinos:ital@0;1&display=swap');

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	margin: 0;
	background-color: #000;
}
a {
	color: #000;
}
div {
}
img {
	width: 100%;
}
nav {
	font-size: 1.5em;
	position: absolute;
	bottom: 0;
}
h1, h2 {
	font-size: 1.5em;
	margin: 0;
	font-weight: normal;
	font-family: monospace;
}

.home {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}
.nav {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	z-index: 10;
	display: none;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	right: 0;
}
.nav-item {
	margin: 10px;
	cursor: pointer;
	display: table;
}
.nav-item:hover {
	text-decoration: underline;
}
.nav-item, .nav-item a {
	text-decoration: none;
}
.impressum, .lang {
	margin-bottom: 40px;
	margin-top: 40px;
}
.open-nav, .close-nav {
	padding: 5px;
	width: 30px;
	height: 30px;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}
.title {
	position: absolute;
	bottom: 0;
	padding: 40px;
}
.logo {
	width: 60px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 40px;
}
.content {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 50px 10px;
	background-color: #fff;
}
.images {
	background-color: #fff;
	box-sizing: border-box;
}
.name {
	font-weight: bold;
}
.description {
	font-family: 'Tinos', serif;
	font-size: 1.5em;
}
.line {
	width: 50%;
	position: fixed;
	height: 20px;
	background-color: #000;
	/*cursor: pointer;*/
	z-index: 20;
}
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.center {
	left: 50%;
	transform: translateX(-50%);
}
.right {
	right: 0;
}
.top.right {
	right: 40px;
	width: calc(50% - 40px);
}
.impressum_content, .impressum_content p {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-width: 1024px) {

	body {
		font-size: 18px;
	}
	.content {
		width: 35vw;
		height: 100vh;
		overflow-y: scroll;
		padding: 30px;
	}
	.images {
		background-color: #fff;
		box-sizing: border-box;
		width: 40vw;
		height: 100vh;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		left: 35vw;
	}
	.nav {
		width: 25vw;
		display: block;
	}
	.close-nav, .open-nav {
		display: none;
	}
	.top.right {
		right: 0;
		width: 50%;
	}

}